*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(https://wallpaperaccess.com/full/3604547.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f7df1e;
    border-bottom: 2px solid lightgray;
}


.header-left{
    display: grid;
    grid-template-columns: 100px 1fr;
}

.header-left figure{
    display: flex;
    justify-content: center;
}

.header-left figure a img{
    width: 50px;
    padding:4px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    list-style: none;
    padding: 0 30px;
    text-decoration: none;
}

.list-item:hover{
    width: auto;
    height: 90%;
    background-color: black;
    color: #f7df1e;
    font-weight: bold;
    display: grid;
    place-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.header-rigth a{
    text-decoration: none;
    color: black;
    font-weight: bold;        
}

.header-rigth a:hover{
    background-color: black;
    color: #f7df1e;
    padding: 30px 10px;
    border-radius: 10px ;
}

.menu_proyectos{
    width: 70%;
    height: 300px;
    background-color: black;
    position: absolute;
    top: 25%;
    left: 15%;
    border-radius: 15px;
    box-shadow: 1px 1px 15px #f7df1e;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    overflow-y: scroll;
}

.menu_proyectos li {
    margin: 20px;
    text-align: center;
}

.menu_proyectos img {
    align-self: center;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.menu_proyectos a {
    color:#f7df1e;
    text-decoration: none;
    list-style: none;

}

.menu_proyectos a:hover {
    color:white;
    text-decoration: underline;
}


.exit-menu{
    color:#f7df1e;
    border: 3px solid #f7df1e;
    background-color: black;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: 23%;
    right: 16%;
    cursor: pointer;
}

.header-rigth{
    display: flex;
    align-items: center;
    padding-right:30px ;
}

.header-rigth ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    list-style: none;
}

.social{
    display: flex;
}

section{
    width: 100%;
    height: 400px;
    display: grid;
    place-content: center;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 80px;
    padding: 30px;
}

footer{
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
}

footer div {
    width: 70%;
    border-top: 1px solid lightgrey;
    text-align: center;
}

footer div p{
    padding:10px;
}

@media (max-width:900px){
    .menu_proyectos{
        width: 75%;
        height: 300px;
        background-color: black;
        position: absolute;
        top: 25%;
        left: 12%;
        border-radius: 15px;
        box-shadow: 1px 1px 15px #f7df1e;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow-y: scroll;
    }
};